<!DOCTYPE html>
<html>
  <head>
    <title> Zeko App -- Edit Order </title>
    <h1>Zeko App -- Edit Order </h1> <br/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  </head>
<body>

	  	<form action = "/editStatus" method="post">

	  	<div class="form-group">
		    <label for="inputStatus">Enter New Status</label>
		    <input type="text" class="form-control" name="inputStatus" id="inputStatus" placeholder="1 , 2 , 3 or 4">
		    <label for="orderId">OrderId</label>
		    <input type="text" class="form-control" name="orderId" id="orderId" value = <%=  orderId %>  readonly>
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>

		</form>

		<br/> <br/>
		<h5> Status types : <br/> 1 : Ordered  <br/> 2 : Cancelled <br/> </h5>


  </body>
</html>