<!DOCTYPE html>
<html>
  <head>
    <title> Zeko App -- Login Page </title>
    <h1>Zeko App -- Login Page </h1> <br/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  </head>
  <body>

	  	<form action = "/" method="post">
	  	<div class="form-group">
		    <label for="inputEmail">Email address</label>
		    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email">
		  </div>

		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" name = "inputPassword" id="inputPassword" placeholder="Password">
		  </div>


		  <button type="submit" class="btn btn-primary">Submit</button>

		</form>

		<div class="alert alert-danger" id = "error1">
  			<strong>Error!</strong> UserName / Password is incorrect
		</div>

		<script type="text/javascript">
			document.getElementById("error1").style.display = 'none';
		</script>

  </body>
</html>
