<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <div class = "row">

        <div class = "col-md-6">
            <h1>Zeko -- Order Tracker</h1> <title>Zeko -- Order Tracker</title> 
        </div>

        <div class = "pull-right" >
            <form method = "post" action = "/logout" >
              <button type="submit" class="btn btn-primary" >Logout</button>
            </form>
        </div>


  </head>

  <body>

    <form method = "post" action = "/orders/searchItem" >  
        <div class = "col-md-3" > 
        <div class="input-group">
          <input type="text" class="form-control" name= "inputSearch" placeholder="Search by Id...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" >Go!</button>
          </span>
        </div>
        </div>
    </form>

    
    <form method = "post" action = "/editOrder" >  

    <div class = "col-md-2" > 
                <button type="submit" class="btn btn-primary" >Edit Order</button> 
    </div>


</div>
	 <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Order ID</th>
                    <th>Timestamp</th>
                    <th>Boutique Name</th>
                    <th>Product Name</th>
                    <th>Discount Code</th>
                    <th>Net Price</th>
                    <th>Total Price</th>
                    <th>Order Status</th>
                    <th>Row No</th>
                </tr>
            </thead>
    
            <tbody>
  
            	<% for(var i=0; i<orderArray.length; i++) { %>
                <tr>
                        <td><input type = "radio" name = "items" value =  <%= orderArray[i].orderId  %> ></td>
	                    <td><%= orderArray[i].orderId  %></td>
                        <td><%= orderArray[i].orderDateTime  %></td>
	                    <td><%= orderArray[i].boutiqueName  %></td>
	                    <td><%= orderArray[i].productName  %></td>
                        <td><%= orderArray[i].discountCode  %></td>
	                    <td><%= orderArray[i].netPrice  %></td>
	                    <td><%= orderArray[i].totalPrice  %></td>
                        <td><%= orderArray[i].orderStatus  %></td>
                        <td><%= i+1  %></td>
                </tr>
                <% }; %> 
            </tbody>    
    </table> <br/><br/>
    <a href = "/orders %>" >Home </a> |||
    <a href = "/orders/<%= pageId %>" >Next Page </a>


</form>


  </body>
</html>